:root {
	color-scheme: dark;
	background-image: url("./assets/background.jpg");
	overflow-y: auto;
	--at-apply: text-neutral-2;
}

.heading {
	--at-apply: text-3xl py-1 font-bold text-white bg-[#0e1025]/75;
	text-shadow: 0px 0px 5px white;
}

@media (min-width: 768p) {
	.heading {
		--at-apply: text-4xl;
	}
}
